---
export const prerender = false;

import BakromLayout from '../../layouts/BakromLayout.astro';

const session = await Astro.locals.auth.validate();
if (!session) return Astro.redirect('/bakrommet/login', 302);
if (!session.user.emailVerified) {
    return Astro.redirect('/bakrommet/epost-verifisering');
}
---

<BakromLayout title='Bakrommet'>
    <main class='p-4 mx-auto max-w-2xl grid gap-8'>
        <h2 class='text-center'>Bakrommet</h2>
        <p>Velkommen, {session.user.username}!</p>
        <p>
            <pre
                class='p-2 bg-white border rounded-sm font-mono'>
                {JSON.stringify(session, null, 2)}
            </pre>
        </p>
        <!-- <form method='POST' action='/bakrommet/logout'>
            <button type='submit'>Logg ut</button>
        </form> -->
    </main>
</BakromLayout>
