---
export const prerender = false;
// import Layout from '../../layouts/Layout.astro';
import BakromLayout from '../../layouts/BakromLayout.astro';

import { auth } from '../../lib/lucia';

let userIdInput = '';
let errorMessage = '';

if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData();
    const userId = formData.get('userId');

    console.log(userId);
    if (typeof userId === 'string') {
        try {
            await auth.deleteUser(userId);
            console.log('Successfully deleted user');
            Astro.redirect('/bakrommet');
        } catch (error) {
            console.error('Error deleting user:', error);
        }
    }
}
---

<BakromLayout title='Slett bruker'>
    <main class='p-4 mx-auto max-w-2xl grid gap-8'>
        <h2>Slett bruker</h2>
        <form method='POST' class='grid gap-2 px-3 py-4 md:px-4'>
            <label for='userId' class='flex flex-col w-full'
                >userId
                <input
                    type='text'
                    id='userId'
                    name='userId'
                    required
                    class='p-2 rounded-sm text-primary border invalid:border-rose-500 valid:border-green-600'
                />
            </label>

            <input
                type='submit'
                value='Slett bruker'
                class='py-2 rounded-sm bg-[#efb261] text-black text-secondary cursor-pointer hover:text-amber-100 hover:bg-yellow-900 md:w-1/2 md:justify-self-end'
            />
        </form>
        <p>{errorMessage}</p>
    </main>
</BakromLayout>
